@{
    ViewBag.Title = "Home Page";
}.

<div class="jumbotron">
    <h1><font color="blue">Guatemala Surgery - 2019</font></h1>
    <p class="lead">You may submit your application to participate in a Guatemala Surgery team through this website. You will need to register and log in before you submit an application.</p>
    <h5>
        Team schedules for <b>2019</b>:
        <ul>
            <li><b>Team 1</b>: Oct. 5-12</li>
            <li><b>Team 2</b>: Oct. 12-19</li>
            <li><b>Team 3</b>: Oct. 19-26</li>
        </ul>  
         This is a secure website. The information you enter on this website will be confidential and sensitive information will be encrypted.  Only the Guatemala Surgery director will be able to view your information. If you have questions, please send an email to  
        <a href="mailto:susanjgraber@gmail.com?Subject=Guatemala Surgery" target="_top">Susan Graber</a>.
        Instructions:
        <ol>
            <li>Click <b>Register</b> in the upper-right.</li>
            <li>Enter User name and Password.</li>
            <li>Click <b>Application</b> in the upper-left.</li>
            <li>Fill out as much information as you can and click the <b>Create</b> button.</li>
            <li>To add more information or to make changes, make sure you are logged in and click <b>Application</b> in the upper-left.</b></li>
            <li>When your application is complete, click the <b>Submit</b> button.</li>
        </ol>  
   </h5>



</div>

<table class="table">
    <tr>
    <td>
        <img src="Content/Images/image1.jpg" />
    </td>
     <td>
         <img src="Content/Images/image2.jpg" />
      </td>
        <td>
            <img src="Content/Images/image3.jpg" />
        </td>
</tr>

 </table>